/* HERE YOU CAN ADD YOUR CUSTOM CSS/SCSS (not everything will be overwritable due to bootstrap and its use of !important) */

/* Removing the background shadows; using ChatGPT-5 to assist. */

.profile-img,
.hero img,
img {
    box-shadow: none !important;
    filter: none !important;
}

.card,
.card-img,
.shadow,
.shadow-lg,
.shadow.sm {
    bow-shadow: none !important;
}