{{ define "main"}}

<section class="grid">
  <div class="row justify-content-between align-items-start">
    <!--LEFT COLUMN: TEXT -->
    <div class="col-md-6 my-3">
      <h1 class="display-2">{{ .Title }}</h1>

      {{ with .Params.description }}
        <p class="lead">{{ . }}</p>
      {{ end }}

      <div class="content mt-3">
          {{ .Content }}
      </div>
    </div>
  
    <!--RIGHT COLUMN: IMAGE-->
    <div class="col-md-6 my-3">
  {{ if .Params.images }}
    {{ range .Params.images }}
      {{ with $.Resources.GetMatch . }}
        <img
          src="{{ .RelPermalink }}"
          class="img-fluid rounded shadow mb-3"
          alt="{{ $.Title }}"
        />
      {{ end }}
    {{ end }}
  {{ else if .Params.image }}
    {{ with $.Resources.GetMatch .Params.image }}
      <img
        src="{{ .RelPermalink }}"
        class="img-fluid rounded shadow"
        alt="{{ $.Title }}"
      />
    {{ end }}
  {{ end }}
</div>
  
  </div>
</section>

{{ end}}
