<head>
  {{ if .IsHome }}
    <title>
      {{ .Page.Title }}
      {{ .Site.Title }}
      {{ .Site.Params.subtitle }}
    </title>
  {{ else }}
    <title>
      {{ .Page.Title }} |
      {{ .Site.Title }}
      {{ .Site.Params.subtitle }}
    </title>
  {{ end }}

  <meta charset="utf-8" />

  {{ if .Page.Description }}
    <meta name="description" content="{{ .Page.Description }}" />
  {{ else }}
    <meta name="description" content="{{ .Page.Summary }}" />
  {{ end }}

  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <meta name="robots" content="index,follow" />

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}" />

  {{ if .Page.Description }}
    <meta itemprop="description" content="{{ .Page.Description }}" />
  {{ else }}
    <meta itemprop="description" content="{{ .Page.Summary }}" />
  {{ end }}

  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta itemprop="image" content="{{ .Permalink }}">
  {{ else }}
    {{ with resources.GetMatch "img/meta-image.*" }}
      <meta itemprop="image" content="{{ .RelPermalink | absURL }}">
    {{ end }}
  {{ end }}

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}" />

  {{ if .Page.Description }}
    <meta property="og:description" content="{{ .Page.Description }}" />
  {{ else }}
    <meta property="og:description" content="{{ .Page.Summary }}" />
  {{ end }}

  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta property="og:image" content="{{ .Permalink }}">
  {{ else }}
    {{ with resources.GetMatch "img/meta-image.*" }}
      <meta property="og:image" content="{{ .RelPermalink | absURL }}">
    {{ end }}
  {{ end }}

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}" />

  {{ if .Page.Description }}
    <meta name="twitter:description" content="{{ .Page.Description }}" />
  {{ else }}
    <meta name="twitter:description" content="{{ .Page.Summary }}" />
  {{ end }}

  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta name="twitter:image" content="{{ .Permalink }}">
  {{ else }}
    {{ with resources.GetMatch "img/meta-image.*" }}
      <meta name="twitter:image" content="{{ .RelPermalink | absURL }}">
    {{ end }}
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#1A94D2" />

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "/scss/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

  {{ with resources.GetMatch "img/favicon.*" }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ .RelPermalink }}" />
  {{ end }}

  <!-- Google Analytics -->
  {{ template "_internal/google_analytics.html" . }}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>